# Downloaded corpora live outside the repo, but if you choose to put them
# inside, ignore them here.
TwainCorpus/*
!TwainCorpus/*.py
!TwainCorpus/HTML/
TwainCorpus/HTML/*
!TwainCorpus/HTML/Eves-Diary.html
*.pyc
__pycache__/
