# Downloaded corpora live outside the repo, but if you choose to put them
# inside, ignore them here.
TwainCorpus/*
!TwainCorpus/HTML/
TwainCorpus/HTML/*
!TwainCorpus/HTML/Eve's-Diary.html
*.pyc
__pycache__/
